.column{
    .shape{
        background-image: url('../../assets/images/backgroundshape.png');
    
        padding-right: 35px;
        background-repeat: no-repeat;
        display: block;
        float: none;
        margin: auto;
        padding-left: 35px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    span{
        font-size: 18px;
        font-family: "Roboto";
        color: rgb(51, 51, 51);
        line-height: 1.7;
        font-weight: bold;
        text-transform: uppercase;
    }

    p{
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
}