@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

$white: #FFFFFF;
$black: #000000;

$title-yellow: #F9B000;
$maintext-h2: rgb(68, 68, 68);