@import './constants.scss';

//Pages
@import '../pages/MainPage/MainPage.scss';

//Components
@import '../components/CarouselItem/CarouselItem.scss';
@import '../components/TraitColumn/TraitColumn.scss';
@import '../components/MainText/MainText.scss';
@import '../components/Card/Card.scss';

main{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}